@white: #FFFFFF;
@gray: #C4C4C4;
@gray-background: #E5E5E5;
@graylight: #F0F0F0;
@yellow: #FDFF8C;
@blue: #0078DC;

@border-grey: 1px solid #cdcdcd;
@font-roboto: "Roboto", "Arial", sans-serif;

@width-phone-container: 330px;
@iphone8-minWidth: 361px;
@iPad-minWidth: 415px;
@tablet-width: 768px;
@table-container: 708px;
@desktop-width: 1300px;
@desktop-content: 1220px;
